# Datos Categóricos

# Cómo importar las librerías

In [2]:
import numpy as np
import pandas as pd

/tmp/ipykernel_22611/328324305.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Importar el data set

In [3]:
dataset = pd.read_csv('Data.csv')
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

print(x)
print(y)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

## Tratamiento de los NAs

Se reemplazan los valores nulos por la media de los valores de la columna

En este caso se reemplaza por la media, pero podríamos reemplazar por la mediana o por la moda.

In [4]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
x[:, 1:3] = imputer.fit_transform(x[:, 1:3])
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

# Codificar datos categóricos

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
labelEncoder_X = LabelEncoder()
x[:, 0] = labelEncoder_X.fit_transform(x[:, 0])
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],    # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                         # Leave the rest of the columns untouched
)
x = np.array(ct.fit_transform(x), dtype=np.int32)
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [15]:
display(x)
display(y)

array([[    0,     1,     0,     0,    44, 72000],
       [    1,     0,     0,     1,    27, 48000],
       [    1,     0,     1,     0,    30, 54000],
       [    1,     0,     0,     1,    38, 61000],
       [    1,     0,     1,     0,    40, 63777],
       [    0,     1,     0,     0,    35, 58000],
       [    1,     0,     0,     1,    38, 52000],
       [    0,     1,     0,     0,    48, 79000],
       [    1,     0,     1,     0,    50, 83000],
       [    0,     1,     0,     0,    37, 67000]], dtype=int32)

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [18]:
result = pd.DataFrame({'Spain': x[:, 0], 'France': x[:, 1],'Germany': x[:, 2], 'Age': x[:, 3],'Salary': x[:, 4],'Purchased': y[:]})
display(result)

   Spain  France  Germany  Age  Salary  Purchased
0      0       1        0    0      44          0
1      1       0        0    1      27          1
2      1       0        1    0      30          0
3      1       0        0    1      38          0
4      1       0        1    0      40          1
5      0       1        0    0      35          1
6      1       0        0    1      38          0
7      0       1        0    0      48          1
8      1       0        1    0      50          0
9      0       1        0    0      37          1